html, body {
    height: 100%;
    width: 100%;
}

.w-saffola-logo-30 {
    width: 70px;
}

.fc_fe {
    justify-content: flex-end;
}

.carousel-indicators [data-bs-target]{
    background-color: #fcc517;
}

.f-12{
    font-size: 12px;
}

.w-48-re{
    width: 48rem;
}

.carousel-flex-center-4443{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.carousel-indicators-flex-box-gap-4422{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.carousel-indicators-cus-0402{
    margin-left: 0;
    margin-right: 0;
    padding: 18px;
}


.flex-gap-10-text{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.f-20{
    font-size: 20px;
}

.align-text-left{
    text-align: left;
}

.carousel-caption-pb-8-rem{
    padding-bottom: 7rem;
    right: 10%;
    left: 10%;
}

.navbar-safola-bg-top-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    transition:500ms ease;
}

.navbar-safola-bg-top-fixed.scrolled{
    background: #00000047 !important;
    z-index: 9999999;
  }

.bg-transparent {
    background-color: transparent;
}

.sider-1 {
    background-color: #db0811;
    height: 500px;
}

.flex-dc-gap-0812, .classic-masala-0865, .flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-dc-gap-0812 {
    gap: 88px;
    height: 100%;
    padding: 62px 0px;
}

.section-2 {
    background-color: #fef1bd;
}

.bg-combined-shape-1148 {
    background-image: url(../svg/Combined_Shape.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100%;
    width: 100%;
}

.bg-combined-shape-1148 .btn-danger {
    margin-top: -18px;
}

.p-33-df-g-8 {
    padding: 32px;
    display: flex;
    gap: 8px;
}

.flex-box-jf {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    position: relative;
}

.btn:focus, .btn:active, .btn:hover {
    box-shadow: none !important;
}

.btn-danger {
    background-color: #DB0812;
}

.flex-box-jf img {
    position: absolute;
    left: -86px;
}

.top-zek-zak-img-1221 {
    margin-top: -12px;
    position: absolute;
}

.section-3 {
    background-color: #fdc518;
}

.flex-box-jc-sb-0104 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.owl-carousel-item-0112 .card {
    height: 90px;
}

.section-2 .silder-1-img-oats-6583 {
    width: 80px !important;
}

.silder-2-img-oats-6583, .silder-3-img-oats-6583 {
    width: 70px !important;
}

.silder-4-img-oats-6583 {
    width: 80px !important;
}

.bottom-zek-zak-img-1221 {
    margin-bottom: 15px;
    z-index: 9999;
    position: relative;
}

.mb-16 {
    margin-bottom: 16px;
}

.section-3 {
    margin-top: -1.7rem;
}

.col-carousel {
    margin: 70px 0;
}

/* owl nav */

.owl-prev span, .owl-next span {
    color: #000;
}

.owl-prev span:hover, .owl-next span:hover {
    background: #fff;
}

.owl-prev, .owl-next {
    position: absolute;
    height: 100%;
}

.owl-prev {
    left: -25px;
    top: -16px;
}

.owl-next {
    right: -25px;
    top: -16px;
}

/* removing blue outline from buttons */

button:focus, button:active {
    outline: none;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}

.flex-box-easy-cook-steps-0744, .flex-box-foodie-to-other-steps-0744 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.easy-cook-step-1, .easy-cook-step-2, .easy-cook-step-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-4, .section-6 {
    background-color: #fef1bd;
}

.section-5 {
    background-color: #FCC517;
    margin-top: -28px;
}

h3 {
    font-family: 'Caveat Brush', cursive;
    color: #DB0812;
    font-size: 60px;
}

span {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #202020;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

.bg-combined-shape-1148 .btn-danger {
    border-radius: 14.5px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    padding: 3px 16px;
}

.section-2, .section-3, .section-4, .section-5, .section-6, .footer {
    padding: 4rem 0;
}

.my-owl-carousel-dish-slider-6658 .card {
    border-radius: 10px;
}

.my-owl-carousel-dish-slider-6658 .card, .my-owl-carousel-dish-slider-6658 .card-body {
    height: 80px;
}

.disclaimar-p-1207 {
    text-align: center;
    width: 100%;
    color: #202020;
    font-size: 12px;
    margin: 2rem 0rem 3rem 0rem;
}

.delicious-header-meno-11230 {
    width: 100%;
    color: #202020;
    font-size: 12px;
    margin: 22px 26px;
    margin-bottom: 0;
    opacity: 40%;
}

.flex-dc-sb-1225 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 37px;
}

.align-items-center-1228 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.align-items-center-1228 p {
    font-size: 20px;
    text-align: center;
}

.p-0-38 {
    padding: 0 38px;
}

.align-items-center-1228 {
    margin-bottom: 1rem;
}

.row {
    width: 100%;
}

.position-relative-3393 {
    position: relative;
}

.Delicious_And_healthy-right-side-img {
    position: absolute;
    width: 100%;
    right: 0;
    width: 585px !important;
    top: -64px;
    right: -12px;
    height: 46rem;
}

.easy-to-cook-flex-box, .foodie-to-another-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 68px;
}

.steamin-yummy-flex-box-6494 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-box-align-item-center-333 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    color: #DB0812 !important;
    border-bottom: 2px solid #DB0812;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
}

.nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
    color: #202020 !important;
}

.nav-link {
    font-family: 'Roboto Slab', serif;
}

.mt-mb-10 {
    padding: 10px 0px;
    margin-bottom: 10px;
}

.bg-img-peppy-tomato-vegetable-roll {
    background-image: url(../img/indian-img-slider-1.png);
    background-size: cover;
    text-align: center;
    height: 510px;
    width: 360px;
    border-radius: 10px;
}

.bg-img-spinach-oats-khichdi {
    background-image: url(../img/indian-img-slider-2.jpg);
    background-size: cover;
    text-align: center;
    height: 510px;
    width: 360px;
    border-radius: 10px;
}

.bg-img-oats-palak-paneer-uttapam {
    background-image: url(../img/indian-img-slider-3.jpg);
    background-size: cover;
    text-align: center;
    height: 510px;
    width: 360px;
    border-radius: 10px;
}

.bg-img-peppy-tomato-vegetable-roll .streming-w-16, .bg-img-oats-palak-paneer-uttapam .streming-w-16, .bg-img-spinach-oats-khichdi .streming-w-16 {
    width: 16px !important;
}

.streming-overlay-absolute-5303 {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
}

.footer-img-icon-gap-over-img-444 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

.font-caveat-brush {
    font-family: 'Caveat Brush', cursive;
}

.fs-40 {
    font-size: 40px;
}

.flex-box-gap-660 {
    display: flex;
    gap: 10px;
}

.flex-box-center-11003 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.up-arrow-streaming-yummy {
    width: 45px !important;
    position: absolute;
    bottom: -1px;
    right: 12px;
    cursor: pointer;
}

.feedback-svg-size-42 {
    width: 42px !important;
}

.fd-c-and-p-0067-text-center {
    flex-direction: column;
    padding: 0px 67px;
    text-align: center;
}

.line-top-name-feedback {
    width: 65px;
    height: 2px;
    background: #FCC517;
    border-radius: 10px;
}

.customer-name-flex-box-0205 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.customer-name-span-654 {
    color: #DB0812;
    font-size: 20px;
}

.customer-footer-dec-tit-02033 {
    color: #202020;
    font-size: 12px;
    margin-top: -6px;
    margin-bottom: 0;
}

.footer-bg {
    background-color: #DB0812;
    margin-top: -27px;
}

.text-color-saffolafit-4949,
.text-color-yellow-4949 {
    color: #FCC517;
}

.follow-us-flex-jc-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-us-flex-jc-sb:nth-child(1) {
    margin-bottom: 1rem;
}

.follow-us-flex-jc-sb:nth-child(2){
    margin-top: 1rem;
}

.social-media-icons-0228 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.text-color-saffolafit-4949,.text-color-yellow-4949 {
    font-size: 60px;
    font-family: 'Caveat Brush', cursive;
}

.owl-footer-carousel .owl-prev {
    left: 0;
}

.owl-right-3030 {
    position: absolute;
    top: 45%;
    left: -51px;
    height: 26px;
    width: 16px;
    border-radius: 150px 0px 0px 150px;
    background-color: #2c2c2c;
    padding: 7px 1px 7px 4px;
}

.owl-left-3030 {
    position: absolute;
    top: 45%;
    left: 0px;
    height: 26px;
    width: 16px;
    border-radius: 0px 150px 150px 0px;
    background-color: #2c2c2c;
    padding: 7px 3px 7px 1px;
}

.w-262{
    width: 262px !important;
}

.team-conditon-right-lebal{
    font-size: 12px;
}

.mail-phone-flex-box{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.main-lebal-footer-contactus{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.navbar-collapse-203304 .nav-link{
    color: #fff !important;
}

.btn-warning{
    background-color: #FCC517;
    color: #DB0812;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    padding: 5px 22px;
}


.navbar-expand-lg .navbar-nav {
    gap: 15px;
}

.footer-relative{
    position: relative;
}

.top-scroll-btn{
    position: absolute;
    top: -31px;
    right: 40px;
    z-index: 99999;
    cursor: pointer;
}

.full-screen-collapsed-11020{
    height: 100%;
    align-items: flex-start;
    background-color: #DB0812 !important;
}

.resposive-footer-buy-now-btn-5592{
    background: #fff;
    border: none;
    width: 100%;
    color: #db0913 !important;
    border-radius: 0px;
    padding: 13px 20px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.sb-resposive-buy-now-button-33030{
    position: fixed;
    bottom: 0px;
    z-index: 99999999;
    width: 100%;
}

.m-7{
    margin: 7px !important;
}

.flex-box-wrap-buy-now{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.parent-div-product-buy-33939 img{
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #d6d5d5;
    width: 100%;
    max-width: 162px;
}

.sb-resposive-buy-now-button-33030{
    display: none;
}

.mobile-responsive-show{
    display: none;
}

.mobile-responsive-hide{
    display: block;
}

.sb-saffola-masala-oats-resposive-mb{
    display: none;
}